body {
    font-family: 'K2D', sans-serif;
}

.messages-bin {
    position: fixed;
    bottom: 50px;
    right: 50px;
    max-width: 300px;
}

.li-bin {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .li-bin-buttons {
        display: flex;
        gap: 10px;
    }
}