.list-title {
    margin: 5px;
    font-size: 30px;
    color: darkolivegreen;
}

.list-subtitle {
    margin: 5px;
    font-size: 20px;
    color: darkcyan;
}

.list-bin {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    .list-district {
        span {
            font-size: 30px;
            color: darkcyan;
        }
        .list-image img {
            width: 300px;
            height: auto;
        }
    }
    .list-section {
        span {
            font-size: 20px;
            color: darkmagenta;
        }
        a {
            text-decoration: none;
        }
    }
    .list-comment {
        .where {
            font-size: 18px;
            color: darkcyan;
            display: flex;
            flex-direction: column;
        }
    }
}